body {
    min-height: 100vh;
}

#body{
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}

.img_prod {
    height: 10em;
    object-fit: contain;
}

.img-carrito{
    width: 30px;
}

option {
    font-weight: bold;
    font-size: 16px;
}

.card_prod {
    transition: all 2s;
}

.card_prod:hover {
    transform: scale(1.1);
}

.img-modal{
    height: 3em;
    object-fit: contain;
}

.img-modal-delete{
    height: 2em;
    object-fit: contain;
}

.transition{
    transition: all;
}

footer a {
    text-decoration: none;
}